.App {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 60px;
}

li {
  cursor: pointer;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
}

button:disabled {
  cursor: not-allowed;
}